.user-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: green;
  height: 80px;
  color: white;
}

.user-first-container, .user-second-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 40%;
}

/* .user-second-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
} */

.user-second-container button {
  height: 20px;
  width: 15%;
}
